header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .logo {
    flex-grow: 1;
    margin-right: 20px;
  }

  .logo-svg {
    width: 50px;
    height: auto;
    fill: #fff !important; 
    stroke: none;
  }
  
  nav {
    flex-grow: 0;
    margin-left: 20px;
  }

  nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    margin-right: 20px;
  }

  nav ul li a {
    text-transform: uppercase;
  }

  body {
    background: #0c0f16;
}