#load-svg {
    width: 150px;
    height: auto;
    animation: fadein 4s linear forwards;
}

#loader {
    width: 150px;
    height: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0c0f16;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

@keyframes fadein {
    to {
        opacity: 1;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .logo {
    flex-grow: 1;
    margin-right: 300px;
  }

  .logo-svg {
    width: 50px;
    height: auto;
    fill: #fff !important; 
    stroke: none;
  }
  
  nav {
    flex-grow: 0;
    margin-left: 60px;
  }

  nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 60;
  }
  
  nav ul li {
    margin-right: 30px;
  }

  nav ul li a {
    text-transform: uppercase;
    font-family: 'Outfit', sans-serif;
    color: #fff;
    text-decoration: none;
  }

  body {
    background-color: #0c0f16;
  }